/* html{
  height: 100%;
} */

body {  
  background-image:  url('imgs/revenant-background.jpg');
  background-repeat: no-repeat;
  background-position: bottom left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  font-family: 'Carrois Gothic SC', sans-serif;
  text-align: center;  
  height: 100vh;
  min-height: 100vh;
}

.buttons{
  position: absolute;  
  width: 100%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quotes{
  font-size: 30px;  
  color: #DBFFFF;
  padding-top: 30%;
  min-height: 120px; 
  max-height: 250px; 
  margin-bottom: 15px;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

.btn{
  font-size: 20px;
}

.btn-outline-primary {
    background-color: transparent;
    border-style: solid;
    border-color: #DBFFFF;
    color: #DBFFFF;
    transition: all .5s;
}

.btn-outline-primary:hover{
  background-color: #DBFFFF;
}

@media screen and (max-width: 1024px){
    #quotes{
      margin-top:2em;
    }
    .buttons{
      top:  85%;
    }
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#quote-button {  
    cursor: pointer;
    cursor: hand;
    z-index: 10;
}

#tweet-link{
  margin-right: 15%;
}

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('imgs/snow-1.png'), url('imgs/snow-2.png'), url('imgs/snow-3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:-1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
